<aside class="app-sidebar  shadow" style="background-color: rgb(239, 126, 34);" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href="./index.html" class="brand-link">
      <!--begin::Brand Image-->
      <img
        src="/assets/img/logo.png"
        alt="AdminLTE Logo"
        class="brand-image "
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column "
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
        style="color: black;"
      >
        <li class="nav-item menu-open"   >
          <a href="/" class="nav-link active">
            <i class="nav-icon bi bi-speedometer"></i>
            <p style="color: black;">
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/sidebar/dashboard/orderList" class="nav-link">
            <i class="nav-icon bi bi-cart"></i>
            <p style="color: black;">Order list</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-house"></i>
            <p style="color: black;">
             property
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/sidebar/dashboard/propertyList" class="nav-link">
                <i class="nav-icon bi bi-card-checklist"></i>
                <p style="color: black;">Property list</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sidebar/dashboard/propertyDetails" class="nav-link">
                <i class="nav-icon bi bi-info-circle-fill"></i>
                <p style="color: black;">Property Details</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sidebar/dashboard/addProperty" class="nav-link">
                <i class="nav-icon bi bi-house-add-fill"></i>
                <p style="color: black;">Add property</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon bi bi-person-cicle"></i>
            <p style="color: black;">
              Agents
              <span class="nav-badge badge text-bg-secondary me-3">6</span>
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/sidebar/dashboard/AgentDetails" class="nav-link">
                <i class="nav-icon bi bi-person-fill-check"></i>
                <p style="color: black;">Agents Details</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sidebar/dashboard/addAgent" class="nav-link">
                <i class="nav-icon bi bi-person-fill-add"></i>
                <p style="color: black;">Add agent</p>
              </a>
            </li>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/sidebar/dashboard/transaction" class="nav-link">
            <i class="nav-icon bi bi-activity"></i>
            <p style="color: black;">
              Transactions
             
            </p>
          </a>
          
        </li>
        <li class="nav-item">
          <a href="/sidebar/dashboard/Review" class="nav-link">
            <i class="nav-icon bi bi-chat-left-dots"></i>
            <p style="color: black;">
             Reviews
             
            </p>
          </a>
         
        </li>
        <li class="nav-item">
          <a href="/sidebar/dashboard/message" class="nav-link">
            <i class="nav-icon bi bi-chat-fill"></i>
            <p style="color: black;">
              Messages 
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/sidebar/dashboard/inbox" class="nav-link">
            <i class="nav-icon bi bi-inboxes-fill"></i>
            <p style="color: black;">
             Inbox
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon bi bi-file-post"></i>
            <p style="color: black;">
             post
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/sidebar/dashboard/post" class="nav-link">
                <i class="nav-icon bi bi-file-post"></i>
                <p style="color: black;">Post</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sidebar/dashboard/postDetails" class="nav-link">
                <i class="nav-icon bi bi-file-earmark-post"></i>
                <p style="color: black;">Post details</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/sidebar/dashboard/addPost" class="nav-link">
                <i class="nav-icon bi bi-file-earmark-plus-fill"></i>
                <p style="color: black;">Add Post</p>
              </a>
            </li>
          </ul>
        </li>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>