body {
  font-family: Arial, sans-serif;
  background-color: #f0f5f9;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #337ab7;
  padding: 10px 20px;
  color: #fff;
}

.navbar-brand, .nav-link {
  color: #fff !important;
}

.navbar-brand img {
  margin-right: 10px;
  border-radius: 48%;
  margin-left: 40px;
  margin-top: 14px;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"],
.search-bar input[type="number"],
.search-bar select {
  padding: 8px;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-btn {
  padding: 8px 16px;
  background-color: #f08c42;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.search-btn:hover {
  background-color: #e07b33;
}

.nav-links a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* Adjusted height minus header */
  background-color: #f0f5f9;
}

.login-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box h2 i {
  margin-right: 10px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.remember-me input {
  margin-right: 5px;
}

.login-btn {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #286090;
}

.login-options {
  margin: 15px 0;
}

.login-options a {
  color: #337ab7;
  text-decoration: none;
}

.login-options a:hover {
  text-decoration: underline;
}

.register-link {
  color: #337ab7;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}
